.connectD{
    width: 100%;
    height: auto;
    margin: 45% 5% 0 5%;
}
.textT{
    width: 40%;
    float: left;
}
.visit{
    float: right;
    width: 50%;
}
.visit button{
    min-width: 40%;
    width: auto;
    background-color: white;
    color: aqua;
    border: 1px solid aqua;
    border-radius: 20px;
    margin: 1%; 
    padding: 4px 18px;
}
.visit button:hover{
    background-color: rgb(226, 253, 253);
}

.impactD{
    width: 100%;
    margin: 35% 5% 0 5%;
}
.impact{
    float: left;
    width: 30%;
    margin-right: 5%;
}
.textI{
    height: 45vh;
    width: 75%;
    font-size: 20px;
}
.impactD hr{
    width: 65%;
    margin-left: 10%;
}
.advance{
    width: 60%;
    margin: 12% 0 3% 16%;
}
.advance button{
    margin-left: 22%;
    width: 45%;
    height: 7.5vh;
}

@media (max-width: 600px) {
    .visit{
        width: 90%;
    }
    .textT{
        width: 90%;
    }
    .impact{
        width: 70%;
        margin: 8% 8% 8% 5%;
    }
    .textI{
        width: 70%;
        font-size: 19px;
        margin-left: 8%;
    }
    .impactD hr{
        width: 65%;
        margin: 10%;
    }
    .advance{
        margin-top: 32%;
    }
  