.connectD{
    width: 100%;
    height: auto;
    margin: 45% 5% 0 5%;
}
.textT{
    width: 40%;
    float: left;
}
.visit{
    float: right;
    width: 50%;
}
.visit button{
    min-width: 40%;
    width: auto;
    background-color: white;
    color: aqua;
    border: 1px solid aqua;
    border-radius: 20px;
    margin: 1%; 
    padding: 4px 18px;
}
.visit button:hover{
    background-color: rgb(226, 253, 253);
}

.impactD{
    width: 100%;
    margin: 35% 5% 0 5%;
}
.impact{
    float: left;
    width: 30%;
    margin-right: 5%;
}
.textI{
    height: 45vh;
    width: 75%;
    font-size: 20px;
}
